body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 79, 211);
}

#calc-container {
    display: flex;
    flex-direction: column;
    width: 284px;
    min-height: 426px;
    background-color: rgb(102, 189, 255);
    align-items: center;
    padding: 18px 14px;
    border-radius: 10px;
    border: 8px solid rgb(185, 234, 255);
}

#display {
    flex: 1;
    background-color: rgb(255, 255, 255);
    text-align: right;
    width: 284px;
    text-wrap: wrap;
    min-height: 50px;
    margin: 8px 14px;
    padding: 5px 0;
    padding-right: 8px;
    border-radius: 10px;
    font-family: "Martian Mono", monospace;
    font-size: 20px;
    box-sizing: border-box;
    white-space: pre-wrap;
}

#button-container {
    display: flex;
    flex-wrap: wrap;
    width: 284px;
    gap: 8px;
}


button {
    width: 65px;
    height: 65px;
    background-color: rgb(130, 187, 146);
    border-radius: 5px;
    color: white;
    font-family: "Martian Mono", monospace;
    font-size: 40px;
    border: 2px solid rgb(130, 187, 146);
    cursor: pointer;
    text-align: center;
}

button:hover {
    background-color: rgb(114, 166, 129);
    border: 2px solid rgb(114, 166, 129);

}

button:active {
    color: orange;
}

#zero {
    width: 138px;
}

#edit {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: space-between;
}

#edit button {
    height: 28.5px;
    font-size: 15px;

}